[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = MarcBaeuerle
	email = 92479171+MarcBaeuerle@users.noreply.github.com
[core]
	excludesfile = /Users/mbaeuerl/.gitignore_global
	autocrlf = false
